<web-app>
	<servlet>
		<servlet-name>Auth</servlet-name>
		<servlet-class>AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Auth</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<servlet-class>DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dashboard</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddFriend</servlet-name>
		<servlet-class>AddFriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFriend</servlet-name>
		<url-pattern>/addFriend</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>CancelRequest</servlet-name>
		<servlet-class>CancelRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CancelRequest</servlet-name>
		<url-pattern>/cancelRequest</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>ConfirmRequest</servlet-name>
		<servlet-class>ConfirmRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmRequest</servlet-name>
		<url-pattern>/confirmRequest</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Unfriend</servlet-name>
		<servlet-class>UnfriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Unfriend</servlet-name>
		<url-pattern>/unfriend</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Info</servlet-name>
		<servlet-class>InfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Info</servlet-name>
		<url-pattern>/userInfo</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Post</servlet-name>
		<servlet-class>PostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Post</servlet-name>
		<url-pattern>/post</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FetchPosts</servlet-name>
		<servlet-class>FetchPostsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FetchPosts</servlet-name>
		<url-pattern>/fetchPosts</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Like</servlet-name>
		<servlet-class>LikeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Like</servlet-name>
		<url-pattern>/likePost</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Unlike</servlet-name>
		<servlet-class>UnlikeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Unlike</servlet-name>
		<url-pattern>/unlikePost</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>UnreadNotifications</servlet-name>
		<servlet-class>UnreadNotificationsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnreadNotifications</servlet-name>
		<url-pattern>/unreadNotifications</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Requests</servlet-name>
		<servlet-class>RequestsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Requests</servlet-name>
		<url-pattern>/requests</url-pattern>
	</servlet-mapping>	
	
	
</web-app>
	